



html{
    background-color: black;
    font-size: 62.5%;
    text-align: center;
    
}
.spacing{
  display: flex;
  justify-content: center;
}
.size-box{
  height: 100px;
  width: 70rem;
  background-color: crimson;
  display: flex;
  justify-content: center;
  flex-direction: column;
  }

.grid-size-text{
    margin-bottom: 0.5rem;
    color: var(--color-black);
    font-weight: 500;
    font-size: 1.8rem;
}


body{
    height: 1000px;
   
    background-color: rgb(7, 77, 36);
    
}
.container {
    padding: 0 2vw;
    display: flex;
    justify-content: center;
  }


.grid {
    border: 2px solid #fdbe49;
    border-radius: 1rem;
    width: 70rem;
    height: 70rem;
    position: relative;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
  }



.square{
  box-sizing: border-box;
    border: 0.5px solid rgba(8, 8, 8, 0.527);
    border-radius: 0.5rem;
    background-color: white;
}

.active{
  background-color: rgb(250, 235, 21);
}